.before {
  &-slider {
    &-wrap {
      max-width: 640px;
      margin: auto;
      position: relative;
    }
    &-arrows {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      transform: translateY(-100%);
      z-index: -1;

      img {
        width: 50%;
      }
    }
    &__dots {
      list-style: none;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-top: 20px;
      li {
        width: 10px;
        height: 10px;
        background-color: #d1d1d1;
        border-radius: 50%;
        margin: 5px;
        &:hover {
          cursor: pointer;
        }
        button {
          display: none;
        }
        &.slick-active {
          background-color: #5b7fda;
        }
      }
    }
  }
}

.arrow {
  background-color: transparent;
  border: none;
  opacity: 0.6;
  &:focus {
    outline: none;
    cursor: pointer;
  }
  &-left {
    transform: translateX(-200%);
  }
  &-right {
    transform: translateX(200%);
  }
}
