.catalog {
  background-color: #f5f6f8;
  &-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__card {
    margin-bottom: 30px;
  }
  &-card {
    flex-basis: 48%;
    height: 135px;
    position: relative;
    box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;

    &:hover {
      .catalog-card__buttons {
        transform: translateY(0);
        opacity: 1;
      }
    }
    &__img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__buttons {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0;
      transform: translateY(100%);
      transition: 0.2s;

    }

    &__button {
      border: none;
      font-size: 11px;
      padding: 10px;
      text-transform: uppercase;
      height: 30px;
    }
    &__tag {
      position: absolute;
      padding: 10px;
      top: 10px;
      left: 10px;
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      background-color: rgba($primary, 0.6);
    }
  }

  &__link {
    text-align: center;
    margin-top: 60px;
    &-more {
      display: inline-block;
      margin-bottom: 24px;
    }
  }
  &__description {
    display: block;
  }
}

@media (max-width: 1199px) {
  .catalog {
    &-block {
      justify-content: center;
    }
    &-card {
      flex-basis: 60%;
    }
  }
}
